.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-h1 {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.kumbh-sans-noraml {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body{
	margin: 0;
	font-family: "Roboto Slab", 
	serif;
	font-size: 15px;
	line-height: 1.6;
	color:#333;
}

*,
*:before,
*:after{
	box-sizing: border-box
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../site_image/img_panel.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	
}

.intro_title{
	font-family: "Kumbh Sans", sans-serif;
	color:#fff;
  	font-weight: 700;
	font-size: 80px;
	line-height: 1;
	margin-bottom: 50px;

}
.intro_subtitle{
  	font-family: "Great Vibes", cursive;
	color:#FFF;
  	font-weight: 400;
  	font-style: normal;
	margin-bottom: 50px;
}

.intro_inner{
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
	text-align: center;
}

.header_inner{

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image_left_inner{
	padding: 80px 10px 0 0;
	height: 100%;
	max-height: 450px;

}
.image_top_inner{
	padding: 40px 10px 40px 10px;
	height: 100%;
	max-height: 450px ;
}
.image_right_inner{
	padding: 80px 0 0 10px;
	height: 100%;
	max-height: 450px ;
}

.header{
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #fff;
}

.header_logo{
	width: 100%;
	max-width: 50px;
}

.nav{
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

.nav_link{
	margin: 0 0 0 28px;
	display: inline-block;
	vertical-align: top;
	color: #2e2e2e;
	text-decoration: none;
	transition: color .2s linear;
}

.nav_link:hover{
	color:coral;
	transform: scale3d(150%,150%, 150%);
	font-family: "Great Vibes", cursive;
}

.btn:hover{
background-color: coral;
}

.btn{
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color : #fff;
	text-decoration: none;
	background-color: #ccadad;
	display: inline-block;
	vertical-align: top;
	padding: 12px 50px;
	align-items: center;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 50vh;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;

}
.content_title{
	margin-top: 10px;
	font-family: "Great Vibes", cursive;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	max-width: 120px ;
	text-align: left;

}
.content_sub_title{
	font-family: "Kumbh Sans", sans-serif;
	font-size: 45px;
	font-weight: 400;
	width: 100%;
	max-width: 350px ;
	text-align: right;
	line-height: 1;
	float:left;
}
.content_text_title{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 350px ;
	text-align: left;
	float:right;
}

.content_about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 80vh;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;

}

.content_sub_title_about{
	font-family: "Kumbh Sans", sans-serif;
	font-size: 50px;
	font-weight: 400;
	width: 100%;
	max-width: 350px ;
	text-align: left;
	line-height: 1;
	float:left;
}

.content_text_title_about{
	margin-top: 50px;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 350px ;
	text-align: left;
	float:left;
}

.img_work{
	float:right;
	height: 100%;
	max-height: 800px ;
}

.footer_image{
	height: 100%;
	max-height: 1400px ;
}

.grid_footer {
 	display: grid;
  	gap: 1px;
  	height: 10px;


  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.footer_img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 30vh;
	background: url("../site_image/futer_image.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

.grid_1{
	/* Строка */
	grid-row-start: 1;
	grid-row-end: 1;
	/* Столбец */
	grid-column-start: 2 ;
	grid-column-end: 2;


	display: block;
	text-align: left;
}


.grid_2{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 0.5;

	/* Строка */
	grid-row-start: 2;
	grid-row-end: 2;
	/* Столбец */
	grid-column-start: 2 ;
	grid-column-end: 2;


	display: flex;
	text-align: left;
}

.grid_3{
	/* Строка */
	grid-row-start: 1;
	grid-row-end: 1;
	/* Столбец */
	grid-column-start: 4 ;
	grid-column-end: 5;


	display: block;
	text-align: left;
}

.grid_4{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 0.5;

	/* Строка */
	grid-row-start: 2;
	grid-row-end: 2;
	/* Столбец */
	grid-column-start: 4 ;
	grid-column-end: 4;


	display: block;
	text-align: left;
}

.grid_5{
	/* Строка */
	grid-row-start: 1;
	grid-row-end: 1;
	/* Столбец */
	grid-column-start: 4 ;
	grid-column-end: 5;


	display: block;
	text-align: left;
}

.market_intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 38vh;
	background: url("../site_image/img_panel.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1200px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 30px; /* Отступ между колонками */
  row-gap: 30px; /* Отступ между рядами */
  margin: 0 auto;
}
.card {
	background: rgba(191, 191, 191, 0.25);
	border: orange;
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 50px;

  width: 100%;
  max-width: 300px;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}

/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Цена   /";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid #ff6300;
	background: #ccadad;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
  border: 1px solid coral;
  background-color: coral;
  color: #ffffff;
}