.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-h1 {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.kumbh-sans-noraml {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}



body{
	margin: 0;
	font-family: "Roboto Slab", 
	serif;
	font-size: 15px;
	line-height: 1.6;
	color:#333;
}

*,
*:before,
*:after{
	box-sizing: border-box
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../site_image/img_panel.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	
}

.intro_title{
	font-family: "Kumbh Sans", sans-serif;
	color:#fff;
  	font-weight: 700;
	font-size: 80px;
	line-height: 1;
	margin-bottom: 50px;

}
.intro_subtitle{
  	font-family: "Great Vibes", cursive;
	color:#FFF;
  	font-weight: 400;
  	font-style: normal;
	margin-bottom: 50px;
}

.intro_inner{
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
	text-align: center;
}

.header_inner{

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image_left_inner{
	padding: 80px 10px 0 0;
	height: 100%;
	max-height: 450px;

}
.image_top_inner{
	padding: 40px 10px 40px 10px;
	height: 100%;
	max-height: 450px ;
}
.image_right_inner{
	padding: 80px 0 0 10px;
	height: 100%;
	max-height: 450px ;
}

.image_left_inner:hover{
	transform: scale3d(1.2,1.2,1.2);
}
.image_top_inner:hover{
	transform: scale3d(1.2,1.2,1.2);
}
.image_right_inner:hover{
	transform: scale3d(1.2,1.2,1.2);
}

.header{
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #fff;
}

.header_logo{
	width: 100%;
	max-width: 50px;
}

.nav{
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

.nav_link{
	margin: 0 0 0 28px;
	display: inline-block;
	vertical-align: top;
	color: #2e2e2e;
	text-decoration: none;
	transition: color .2s linear;
}

.nav_link:hover{
	color:coral;
	transform: scale3d(150%,150%, 150%);
	font-family: "Great Vibes", cursive;
}

.btn:hover{
background-color: coral;
}

.btn{
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color : #fff;
	text-decoration: none;
	background-color: #ccadad;
	display: inline-block;
	vertical-align: top;
	padding: 12px 50px;
	align-items: center;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 50vh;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;

}
.content_title{
	margin-top: 10px;
	font-family: "Great Vibes", cursive;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	max-width: 120px ;
	text-align: left;

}
.content_sub_title{
	font-family: "Kumbh Sans", sans-serif;
	font-size: 45px;
	font-weight: 400;
	width: 100%;
	max-width: 350px ;
	text-align: right;
	line-height: 1;
	float:left;
}
.content_text_title{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 350px ;
	text-align: left;
	float:right;
}

.h1_about{
	display: flex;
	margin-top: 80px;
	margin-left: 320px;
	margin-bottom: auto;
	text-align: left;
}

.content_sub_title_about{
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: 400;
	width: 100%;
	max-width: 350px ;
	text-align: left;
	float:left;
}



.card_googl_panel{
	margin-top: 5px;
	width: 800px;
	height: 340px;


}

.content_text_title_about{
	margin-top: 50px;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 350px ;
	text-align: left;
	float:left;
}

.img_work{
	float:right;
	height: 100%;
	max-height: 800px ;
}

.footer_image{
	height: 100%;
	max-height: 1400px ;
}

.footer__icon__image:hover{
	transform: rotate(30grad);
}
.footer__icon__image{
	height: 100%;
	max-height: 80px;
}

.grid_footer {
 	display: grid;
  	gap: 1px;
  	height: 10px;


  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.footer_img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 30vh;
	background: url("../site_image/futer_image.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

.grid_1{
	/* Строка */
	grid-row-start: 1;
	grid-row-end: 1;
	/* Столбец */
	grid-column-start: 2 ;
	grid-column-end: 2;


	display: block;
	text-align: left;
}


.grid_2{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 0.5;

	/* Строка */
	grid-row-start: 2;
	grid-row-end: 2;
	/* Столбец */
	grid-column-start: 2 ;
	grid-column-end: 2;


	display: flex;
	text-align: left;
}

.grid_3{
	/* Строка */
	grid-row-start: 1;
	grid-row-end: 1;
	/* Столбец */
	grid-column-start: 4 ;
	grid-column-end: 5;


	display: block;
	text-align: left;
}

.grid_4{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 0.5;

	/* Строка */
	grid-row-start: 2;
	grid-row-end: 2;
	/* Столбец */
	grid-column-start: 4 ;
	grid-column-end: 4;


	display: block;
	text-align: left;
}

.grid_5{
	/* Строка */
	grid-row-start: 4;
	grid-row-end: 4;
	/* Столбец */
	grid-column-start:2 ;
	grid-column-end: 2;


	display: block;
	text-align: left;
}

.market_intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 38vh;
	background: url("../site_image/img_panel.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.p_market{
	font-family: "Great Vibes", cursive;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	margin: auto 150px;

}
.h1_market{
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background: #ccadad;
	margin: auto 150px;


}
.error__page__img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 38vh;
	background: url("https://i.pinimg.com/736x/1d/ee/a6/1deea6d646101fec6a0adde26345c993.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

