<!DOCTYPE html>
<html lang="ru">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kumbh+Sans:wght@100..900&family=Lato:ital,
wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
	
	<meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    {% block title %}{% endblock %}
</head>
<body>
	<header class="header">
		<div class="container">
				<div class="header_inner">
					<img class="header_logo" src="/static/site_image/logo.png"></img>
					<nav class="nav lato-bold">
					<a class="nav_link" href="/">Главная</a>
					<a class="nav_link" href="/galery">Галерея</a>
					<a class="nav_link" href="/market">3D Модели</a>
					<a class="nav_link" href="/about">О нас</a>
					</nav>
			</div>
		</div>
	</header>


{% block body %}{% endblock %}

<footer class="footer">
            <div class="footer_img">
            </div>
   <div class="grid_footer">
            <div class="grid_1">
                 <h1>Адрес</h1>
            </div>
            <div class="grid_2">
                 <p>Оренбургская обл.  Бузулук</p>
            </div>
              <div class="grid_3">
                 <h1>Контакты</h1>
            </div>
            <div class="grid_4">
                <p>+79325508930</p>
                <p>3dprintbuzuluk@mail.ru</p>
         </div>
        </div>
</footer>
</body>
</html>