{% extends 'base.html' %}

{% block title %}
	<title>Добовление товара</title>
{% endblock %}

{% block body %}
    <h1>Добовление товара</h1>
    <form method="post" enctype=multipart/form-data>
        <input type="text" class="form-control" name="title" id="title" placeholder="Введите наименование" ><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
        <input type="text" class="form-control" name="url_text" id="url_text" placeholder="Введите url картинки или"><br>
        <input type="file" class="form-control" name="file" id="file" placeholder="Введите url картинки "><br>
        <input type="text" class="form-control" name="description_text" id="description_text" placeholder="Введите описание" ><br>
        <button type=submit class="btn btn-success">Добавить товар</button>
    </form>
{% endblock %}