{% extends 'base.html' %}
{% block company_name %}

    {{ page_info[0].company_name }}

{% endblock %}

{% block title %}
	<title>{{ page_info[0].home_page }}</title>
{% endblock %}
    
{% block body %}
    <div class="text-center"><h1>{{ page_info[0].home_page }}</h1>
    <p><b>{{ page_info[0].company_description_text }}   </b></p></div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for el in items %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{ el.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ el.price }} ₽</h1>
            <img height="200" alt={{ el.title }} src={{ el.file }} >

            <p class="list-unstyled mt-3 mb-4">
            {{ el.description_text }}
            </p>
            <a type="button" class="w-100 btn btn-lg btn-primary"
                    {% if el.isActive == False %} href="#" >Нет в наличии !
                    {% else %} href="/buy/{{ el.id }}" > Купить {% endif %} </a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}