{% extends 'base.html' %}
{% block company_name %}

     {{ page_info[0].company_name }}

{% endblock %}

{% block title %}
	<title>{{ page_info[0].home_page }}</title>
{% endblock %}
    
{% block body %}
    <div class="market_intro">
    <div class="intro_inner">
					<h1 class="intro_title"> {{ page_info[0].company_name }}</h1>
					<h2 class="intro_subtitle">Виртуальное в осезаемое</h2>
    </div>
    </div>
    <hr>
    <div class="cards">
     {% for el in items %}
         <div class="card">
          <!-- Верхняя часть -->
          <div class="card__top">
               <!-- Ссылка-название товара -->
            <p  class="card__title">{{ el.title }}</p>
            <!-- Изображение-ссылка товара -->
            <a href="/buy/{{ el.id }}" class="card__image">
                <img alt={{ el.title }} src={{ el.file }} >
            </a>
            <!-- Скидка на товар -->
            <div class="card__label__l">{{ el.format_file }}</div>
              <div class="card__label__r">{{ el.material }}</div>
          </div>
          <!-- Нижняя часть -->
          <div class="card__bottom">
            <!-- Цены на товар (с учетом скидки и без)-->
            <div class="card__prices">
              <div class="card__price card__price--common">{{ el.price }}</div>
            </div>
                <!--jgbcfybt товара -->
              <p class="card__sub__title">{{ el.description_text }}</p>
            <!-- Кнопка добавить в корзину -->
            <a href="/buy/{{ el.id }}" class="card__add btn">Купить {{ el.format_file }}</a>
          </div>
        </div>
           {% endfor %}
        </div>


{% endblock %}