{% extends 'base.html' %}
{% block company_name %}

     {{ page_info[0].company_name }}

{% endblock %}

{% block title %}
	<title>{{ page_info[0].home_page }}</title>
{% endblock %}
    
{% block body %}
    <div class="market_intro">
    <div class="intro_inner">
					<h1 class="intro_title"> {{ page_info[0].company_name }}</h1>
					<h2 class="intro_subtitle">Виртуальное в осезаемое</h2>
    </div>
    </div>
    <hr>
    <p class="p_market">Модели подготовлены к печати на 3D принтере!</p>
    <h1 class="h1_market">Здесь можно приобрести наши работы в формате 3D</h1>
    <hr>
    <div class="product-container">
     {% for el in items %}
         <div class="product-card">
             <div class="image-container">
            <img src={{ el.file }} alt={{ el.file }}>
            <div class="file-format">{{ el.format_file }}</div>
        </div>
        <h2>{{ el.title }}</h2>
        <p class="description">{{ el.description_text }}</p>
        <p class="price">₽ {{ el.price }}</p>
        <button>Купить {{ el.format_file }}</button>
    </div>
           {% endfor %}
    </div>
    <hr>


{% endblock %}